{% load static %}
<html>
<head>
<title>Remote Data Access</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'Improve.css' %}"/>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<center><font size="4" color="yellow">ENHANCING CLOUD DATA SECURITY AND USER ANONYMITY FOR ROBUST AUTHENTICATION AND IMPERSONATION PROTECTION</font></center>
		</div>
		<div id="slogan">
			
		</div>
	</div>
	<div id="menu">
		<ul><center>
	  <li><a href="{% url 'UploadFile' %}">Upload File</a></li>
	  <li><a href="{% url 'DownloadFile' %}">Download Own/Share File</a></li>
	  <li><a href="{% url 'ChangePassword' %}">Change Password</a></li>
	  <li><a href="{% url 'Graph' %}">Computational Graph</a></li>
	  <li><a href="{% url 'index' %}">Logout</a></li>		
		</center></ul>
		<br class="clearfix" />
	</div>
	<div id="splash">
		<img class="pic" src="{% static 'images/improve.jpg' %}" width="870" height="130" alt="" />
	</div>
	<br/>
	<font size="" color="black"><center>{{ data|safe }}</center></font>

	
</p>
</body>
</html>
